In [5]:
# Módulo 2: Manipulando Dados Reais

# Este notebook é parte do minicurso de Análise de Dados para Gestão e Negócios.
# Objetivo: Carregar, explorar e limpar dados reais de vendas, clientes e produtos.
# Responder perguntas de negócio usando Python e Pandas.

# Importando bibliotecas
import pandas as pd
import numpy as np

# 1. Carregando os dados
clientes = pd.read_csv('../dados/clientes.csv')
vendas = pd.read_csv('../dados/vendas.csv')
produtos = pd.read_csv('../dados/produtos.csv')
despesas = pd.read_csv('../dados/despesas.csv')
faturamento_diario = pd.read_csv('../dados/faturamento_diario.csv')
faturamento_semanal = pd.read_csv('../dados/faturamento_semanal.csv')
faturamento_mensal = pd.read_csv('../dados/faturamento_mensal.csv')
faturamento_anual = pd.read_csv('../dados/faturamento_anual.csv')

# 2. Visualizando os dados
print('Clientes:')
display(clientes.head())
print('Vendas:')
display(vendas.head())
print('Produtos:')
display(produtos.head())
print('Despesas:')
display(despesas.head())
print('Faturamento Diário:')
display(faturamento_diario.head())

# 3. Exploração de vendas por período
# Convertendo a coluna de data para datetime
vendas['data'] = pd.to_datetime(vendas['data'])
faturamento_diario['data'] = pd.to_datetime(faturamento_diario['data'])

# Total de vendas por dia
vendas_por_dia = vendas.groupby('data').agg({'quantidade':'sum', 'preco_unitario':'sum'})
print('Vendas por dia:')
display(vendas_por_dia)

# Total de vendas por semana
vendas['semana'] = vendas['data'].dt.isocalendar().week
vendas['ano'] = vendas['data'].dt.year
vendas_por_semana = vendas.groupby(['ano','semana']).agg({'quantidade':'sum'})
print('Vendas por semana:')
display(vendas_por_semana)

# Total de vendas por mês
vendas['mes'] = vendas['data'].dt.month
vendas_por_mes = vendas.groupby(['ano','mes']).agg({'quantidade':'sum'})
print('Vendas por mês:')
display(vendas_por_mes)

# Total de vendas por ano
vendas_por_ano = vendas.groupby('ano').agg({'quantidade':'sum'})
print('Vendas por ano:')
display(vendas_por_ano)

# 4. Faturamento e produtos mais vendidos
# Faturamento total por período (usando planilhas prontas)
print('Faturamento diário:')
display(faturamento_diario)
print('Faturamento semanal:')
display(faturamento_semanal)
print('Faturamento mensal:')
display(faturamento_mensal)
print('Faturamento anual:')
display(faturamento_anual)

# Produto mais vendido
mais_vendido = vendas['produto'].value_counts().idxmax()
print(f'Produto mais vendido: {mais_vendido}')

# Produto mais lucrativo
vendas_prod = vendas.merge(produtos, on='produto')
vendas_prod['lucro_unitario'] = vendas_prod['preco_unitario'] - vendas_prod['custo_unitario']
vendas_prod['lucro_total'] = vendas_prod['lucro_unitario'] * vendas_prod['quantidade']
lucro_por_produto = vendas_prod.groupby('produto')['lucro_total'].sum().sort_values(ascending=False)
print('Lucro total por produto:')
display(lucro_por_produto)
print(f'Produto mais lucrativo: {lucro_por_produto.idxmax()}')

# 5. Exercícios extras
# - Descubra qual cliente mais comprou na lanchonete.
# - Crie um gráfico de pizza mostrando a participação de cada produto nas vendas totais.
# - Tente importar outro arquivo `.csv` e analisar seus dados.

Clientes:

   cliente_id    nome  idade cidade
0           1    João     34  Picos
1           2   Maria     28  Picos
2           3  Carlos     45  Picos
3           4     Ana     22  Picos
4           5   Pedro     39  Picos

Vendas:

   venda_id  cliente_id       produto  quantidade  preco_unitario        data
0      1001           1    Hamburguer           2            15.0  2016-01-05
1      1002           2  Refrigerante           1             6.0  2016-01-05
2      1003           3  Batata Frita           3             8.0  2016-01-06
3      1004           4          Suco           1             7.0  2017-02-10
4      1005           5        Salada           2            10.0  2017-02-10

Produtos:

        produto       categoria  custo_unitario
0    Hamburguer          Lanche             7.0
1  Refrigerante          Bebida             2.5
2  Batata Frita  Acompanhamento             3.0
3          Suco          Bebida             3.5
4        Salada        Saudável             4.0

Despesas:

         data despesa_tipo   valor
0  2016-01-01      Aluguel   900.0
1  2016-01-01      Salário  1800.0
2  2016-01-01      Insumos   400.0
3  2016-01-01    Marketing   200.0
4  2016-02-01      Aluguel   900.0

Faturamento Diário:

         data  receita
0  2016-01-05     40.0
1  2016-01-06     45.0
2  2017-02-10     50.0
3  2017-02-11     55.0
4  2018-03-15     60.0

Vendas por dia:

            quantidade  preco_unitario
data
2016-01-05           3            21.0
2016-01-06           3             8.0
2017-02-10           3            17.0
2018-03-15           1            20.0
2018-03-16           2             5.0
2019-04-20           1            12.0
2019-04-21           2            13.0
2020-05-25           1             9.0
2020-05-26           2            15.0
2021-06-30           1             6.0
2021-07-01           3             8.0
2022-07-05           1             7.0
2022-07-06           2            10.0
2023-08-10           1            20.0
2023-08-11           2             5.0
2024-09-15           1            12.0
2024-09-16           2            13.0
2025-08-01           1             9.0
2025-08-02           3            21.0

Vendas por semana:

             quantidade
ano  semana
2016 1                6
2017 6                3
2018 11               3
2019 16               3
2020 22               3
2021 26               4
2022 27               3
2023 32               3
2024 37               1
     38               2
2025 31               4

Vendas por mês:

          quantidade
ano  mes
2016 1             6
2017 2             3
2018 3             3
2019 4             3
2020 5             3
2021 6             1
     7             3
2022 7             3
2023 8             3
2024 9             3
2025 8             4

Vendas por ano:

      quantidade
ano
2016           6
2017           3
2018           3
2019           3
2020           3
2021           4
2022           3
2023           3
2024           3
2025           4

Faturamento diário:

         data  receita
0  2016-01-05     40.0
1  2016-01-06     45.0
2  2017-02-10     50.0
3  2017-02-11     55.0
4  2018-03-15     60.0
5  2018-03-16     65.0
6  2019-04-20     70.0
7  2019-04-21     75.0
8  2020-05-25     80.0
9  2020-05-26     85.0
10 2021-06-30     90.0
11 2021-07-01     95.0
12 2022-07-05    100.0
13 2022-07-06    105.0
14 2023-08-10    110.0
15 2023-08-11    115.0
16 2024-09-15    120.0
17 2024-09-16    125.0
18 2025-08-01    130.0
19 2025-08-02    135.0

Faturamento semanal:

     ano  semana  receita
0   2016       1    250.0
1   2016       2    250.0
2   2017       1    275.0
3   2017       2    275.0
4   2018       1    300.0
5   2018       2    300.0
6   2019       1    350.0
7   2019       2    350.0
8   2020       1    375.0
9   2020       2    375.0
10  2021       1    400.0
11  2021       2    400.0
12  2022       1    450.0
13  2022       2    450.0
14  2023       1    500.0
15  2023       2    500.0
16  2024       1    550.0
17  2024       2    550.0
18  2025       1    625.0
19  2025       2    625.0

Faturamento mensal:

     ano  mes  receita
0   2016    1   1000.0
1   2016    2   1000.0
2   2017    1   1100.0
3   2017    2   1100.0
4   2018    1   1200.0
5   2018    2   1200.0
6   2019    1   1400.0
7   2019    2   1400.0
8   2020    1   1500.0
9   2020    2   1500.0
10  2021    1   1600.0
11  2021    2   1600.0
12  2022    1   1800.0
13  2022    2   1800.0
14  2023    1   2000.0
15  2023    2   2000.0
16  2024    1   2200.0
17  2024    2   2200.0
18  2025    1   2500.0
19  2025    2   2500.0

Faturamento anual:

    ano  receita
0  2016  12000.0
1  2017  13500.0
2  2018  15000.0
3  2019  17000.0
4  2020  18000.0
5  2021  20000.0
6  2022  22000.0
7  2023  25000.0
8  2024  27000.0
9  2025  30000.0

Produto mais vendido: Hamburguer
Lucro total por produto:

produto
Hamburguer      48.0
Batata Frita    30.0
Sanduíche       28.0
Salada          24.0
Pizza           20.0
Torta           14.0
Café            12.0
Refrigerante    10.5
Sorvete          9.0
Suco             7.0
Name: lucro_total, dtype: float64

Produto mais lucrativo: Hamburguer